# --- CONFIGURACION DE LA BASE DE DATOS (PostgreSQL) ---
DB_USER=usuario_postgres
DB_PASSWORD=contrasena_postgres
DB_NAME=elemental_database
DB_HOST=localhost
DB_PORT=5432

# --- CONFIGURACION DE PGADMIN ---
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=cambia_esta_contrasena
PGADMIN_PORT=5050

# --- CONFIGURACION DEL BACKEND ---
BACKEND_PORT=4000
PORT=4000
NODE_ENV=development
JWT_SECRET=cambia_este_secreto
CORS_ORIGIN=http://localhost:5173

# --- CONFIGURACION DEL FRONTEND ---
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:4000/api

# --- CONFIGURACION DE CORREO OTP (Gmail) ---
EMAIL_USER=tu_correo@gmail.com
EMAIL_FROM_NAME=Elemental Cross Training
EMAIL_PASS=contrasena_de_aplicacion_de_gmail
